pruebaBackendService2/WebContent/wsdl/BackendServiceTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pruebaBackendService2" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pruebaBackendService2" xmlns:intf="http://pruebaBackendService2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pruebaBackendService2" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="return1">
    <complexType/>
   </element>
   <element name="return1Response">
    <complexType>
     <sequence>
      <element name="return1Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="return2">
    <complexType/>
   </element>
   <element name="return2Response">
    <complexType>
     <sequence>
      <element name="return2Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="return3">
    <complexType/>
   </element>
   <element name="return3Response">
    <complexType>
     <sequence>
      <element name="return3Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="return4">
    <complexType/>
   </element>
   <element name="return4Response">
    <complexType>
     <sequence>
      <element name="return4Return" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="return3Response">

      <wsdl:part element="impl:return3Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return1Request">

      <wsdl:part element="impl:return1" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return2Response">

      <wsdl:part element="impl:return2Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return4Request">

      <wsdl:part element="impl:return4" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return4Response">

      <wsdl:part element="impl:return4Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return1Response">

      <wsdl:part element="impl:return1Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return2Request">

      <wsdl:part element="impl:return2" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return3Request">

      <wsdl:part element="impl:return3" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BackendServiceTest">

      <wsdl:operation name="return1">

         <wsdl:input message="impl:return1Request" name="return1Request">

       </wsdl:input>

         <wsdl:output message="impl:return1Response" name="return1Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return2">

         <wsdl:input message="impl:return2Request" name="return2Request">

       </wsdl:input>

         <wsdl:output message="impl:return2Response" name="return2Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return3">

         <wsdl:input message="impl:return3Request" name="return3Request">

       </wsdl:input>

         <wsdl:output message="impl:return3Response" name="return3Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return4">

         <wsdl:input message="impl:return4Request" name="return4Request">

       </wsdl:input>

         <wsdl:output message="impl:return4Response" name="return4Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BackendServiceTestSoapBinding" type="impl:BackendServiceTest">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="return1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="return1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="return1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="return2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="return2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return3">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="return3Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="return3Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return4">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="return4Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="return4Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BackendServiceTestService">

      <wsdl:port binding="impl:BackendServiceTestSoapBinding" name="BackendServiceTest">

         <wsdlsoap:address location="http://localhost:8080/pruebaBackendService2/services/BackendServiceTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
